.Home-section {
    color: white;
}

.Build-button {
    background-color: white;
    height: 5rem;
    width: 20rem;
    display: block;
    margin: auto;
    margin-top: 10rem;
    border-radius: 41px;
    color: #000000;
    text-align: center;
    line-height: 5rem;
    font-size: 2rem;
    font-weight: bold;
}
