.App {
  color: white;
}

.App-header {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  padding-top: 2rem;
}

.App-header ul {
  list-style: none;
}

.App-header li {
  display: inline-block;
  margin-right: 1rem;
}

.dot {
  height: 1rem;
  width: 1rem;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}

.dot2 {
  height: .90rem;
  width: .90rem;
  background-color: #000000;
  border-radius: 50%;
  display: inline-block;
  border: .75px solid white;
  margin-left: .5rem;
}
